/* Form */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form input {
    width: 75%;
    padding: 10px;
    font-size: 1.5em;
    margin-right: 10px;
}

.form button {
    width: 25%;
    padding: 10px 20px;
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
    }

    .form input {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}
